#-----------------------#
#   Minishell Ignores   #
#-----------------------#

# files without ext
*
!/**/
!*.*

# vscode
README.md
.DS_Store

# make
a.out
*.o
*.a

# c++ debuger
*.dSYM
ft*.out

# minishell
ref